@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}


html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  line-height: 24px;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.main-container {
  flex: 1 1 auto;
  flex-grow: 1;
}

.button {
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
}

.button:active {
  background-color: #756157;;
}

.button:hover {
  background-color: #68a2ca;
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgb(0, 0, 0, 0.2);
}

.page-header {
  align-items: center;
  width: 1060px;
  padding-right: 70px;
  padding-left: 70px;
  color: #000000;
  background-color: #ffffff;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  min-height: 64px;
  margin: 0 auto;
}


.navigation-logo {
  position: relative;
  z-index: 1;
  width: 140px;
  height: 70px;
  margin-right: 30px;
}

.navigation-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 470px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  position: relative;
  display: block;
  padding: 20px 16px;
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.navigation-link-event:active {
  opacity: 0.3;
}

.navigation-link-event:hover {
  color: #756157;
}

.navigation-link-event:focus-visible {
  outline: none;
  background-color: #dcdcdc;
}

.navigation-link-menu::before,
.navigation-link-selected::before {
  position: absolute;
  bottom: 2px;
  width: calc(100% - 32px);
  height: 2px;
  content: '';
  background-color: #756157;
}

.navigation-link-menu::before {
  opacity: 0;
}


.navigation-link-menu:hover::before {
  opacity: 1;
}

.navigation-link-icon {
  padding-right: 12px;
  padding-left: 12px;
}


.navigation-user {
  width: 268px;
  margin-left: auto;
}

.navigation-link-icon-search {
  position: relative;
  margin-right: 10px;
  padding-top: 1px;

}

.navigation-link-icon-search::before {
  position: absolute;
  width: 20px;
  height: 20px;
  content: "";
  border: 0;
  background: url("../icons/search.svg");
  background-repeat: no-repeat;
}

.navigation-link-icon-search:active {
  opacity: 0.4;
}

.navigation-link-icon-search:hover {
  opacity: 0.7;
}

.navigation-link-icon-like {
  position: relative;
  padding-top: 2px;
}

.navigation-link-icon-like::before {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: 12px;
  content: "";
  border: none;
  background: url("../icons/like.svg");
  background-repeat: no-repeat;
}

.navigation-link-icon-like:active {
  opacity: 0.4;
}

.navigation-link-icon-like:hover {
  opacity: 0.7;
}

.like-number {
  font-size: 10px;
  position: absolute;
  width: 20px;
  height: 20px;
  margin-top: -13px;
  margin-left: 18px;
  color: #ffffff;
  border-radius: 50%;
  background-color: #7db54f;
}

.navigation-user-button {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  width: 160px;
  height: 36px;
  margin-left: 50px;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  background-color: #756157;
}

.navigation-user-button:active {
  background-color: #756157;
}

.navigation-user-button:hover {
  background-color: #615048;
}

.navigation-user-like {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 8px 34px;
  text-align: center;
  border: none;
}


.navigation-user-like:focus-visible,
.button-search:focus-visible,
.hotel-more-link:focus-visible {
  outline: none;
  background-color: #615048;
}

.main-index {
  flex: 1 1 auto;
  color: #000000;
  background-color: #ffffff;
}

.main-inner {
  flex: 1 1 auto;
}

.image-block {
  margin-top: -4px;
  padding: 35px 70px 52px 70px;
  background-color: rgba(131, 179, 211, 0.2);
  background-image: url("../images/catalog-blur-photo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main-inner-title {
  font-size: 60px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: -20px;
  color: #ffffff;
  Line-height: 78px;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-width: 114px;
  min-height: 21px;
  padding-left: 0;
  color: #ffffff;
  gap: 10px;
}

.breadcrumbs-link-home {
  position: relative;
  display: inline-block;
  width: 13px;
  height: 15px;
}

.breadcrumbs-link-home::before {
  position: absolute;
  width: 13px;
  height: 15px;
  content: "";
  background: url("../icons/home.svg");
  background-repeat: repeat;
}

.breadcrumbs-link-breadcrumbs {
  position: relative;
  display: inline-block;
  width: 8px;
  height: 20px;

}

.breadcrumbs-link-breadcrumbs::before {
  position: absolute;
  width: 8px;
  height: 20px;
  content: "";
  background: url("../icons/breadcrumbs.svg");
  background-repeat: repeat;
}

.breadcrumbs-link-current {
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}

.logo {
  width: 138px;
  margin-right: 20px;
  margin-left: 30px;
}


.advantages-text {
  margin-bottom: 27px;
  padding: 38px 0;
  text-align: center;
  background: rgba(255, 255, 255, 1);
}

.advantages-text-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.advantages-title-accent {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  position: relative;
  text-transform: uppercase;
  color: #ffffff;
}

.advantages-title-accent::before {
  position: absolute;
  z-index: 1;
  bottom: -15px;
  left: 50%;
  width: 60px;
  height: 2px;
  margin-left: -30px;
  content: "";
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages-text-description {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
}

/* List */
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  text-align: center;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item {
  display: flex;
  flex-basis: 400px;
  min-height: 385px;
}


.advantages-item-container {
  width: 230px;
  text-align: center;
}

.advantages-accent-item-container {
  padding: 79px 85px;
}

.advantages-item-wrap {
  padding: 88px 85px;
}

.service-item {
  width: 400px;
  padding: 51px 77px;
}

.service-home {
  position: relative;
  margin-top: 104px;
}

.service-home::before {
  position: absolute;
  top: -74px;
  align-items: center;
  width: 75px;
  height: 72px;
  content: "";
  background: url("../icons/housing.svg");
  background-repeat: no-repeat;
}

.service-food {
  position: relative;
  margin-top: 104px;
}

.service-food::before {
  position: absolute;
  top: -74px;
  align-items: center;
  width: 75px;
  height: 72px;
  margin-left: -15px;
  content: "";
  background: url("../icons/foods.svg");
  background-repeat: no-repeat;
}

.service-souvenirs {
  position: relative;
  margin-top: 104px;
}

.service-souvenirs::before {
  position: absolute;
  top: -74px;
  align-items: center;
  width: 75px;
  height: 75px;
  margin-left: 28px;
  content: "";
  background: url("../icons/souvenirs.svg");
  background-repeat: no-repeat;
}

html {
  height: 100%;
}


.top-block {
  height: 485px;
  margin-top: -5px;
  text-align: center;
  background-color: rgba(131, 179, 211, 0.2);
  background-image: url("../images/top-block-divider.png"), url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-position: center bottom -1px;
  background-size: 100%, cover;
}

.index-image {
  padding-top: 51px;
}


.advantages-item-accent {
  display: flex;
}

.advantages-item-accent-reverse {
  flex-direction: row-reverse;
}


/* Title */
.advantages-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  position: relative;
  margin-bottom: 62px;
  text-transform: uppercase;
  color: #000000;
}

.advantages-title::before {
  position: absolute;
  bottom: -30px;
  left: 50%;
  width: 60px;
  height: 2px;
  margin-left: -29px;
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
}

.advantages-item-container .advantages-title-accent::before {
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: #000000;
}

.advantages-title-accent, .advantages-description-accent {
  color: #ffffff;
}


.background {
  background: rgba(131, 179, 211, 0.12);
}

.background-blue {
  background-color: #82b3d3;
}

.background-light-blue {
  background: rgba(131, 179, 211, 0.2);
}

.services-text-greeting {
  flex-wrap: wrap;
  min-height: 246px;
  margin: 0 auto;
}

.services-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  flex-wrap: wrap;
  width: 505px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding-top: 64px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.services-description {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  flex-wrap: wrap;
  width: 490px;
  margin: 0 auto;
  margin-bottom: 63px;
  text-align: center;
  color: #333333;
}

.service-list {
  display: flex;
  min-height: 385px;
}

.service-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 30px;
  padding-top: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.hotel-search {
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 66px 304px;
  text-align: center;
  background: #ffffff;
}

.intresting-sedona {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: -2px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.hotel-search-description {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 54px;
  text-align: center;
  color: #333333;
}


.newsletter-no-background {
  background: #ffffff;
}

.newsletter-description-dark {
  color: #333333;
}

.newsletter-description {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  flex-wrap: wrap;
}


.newsletter-form button {
  width: 232px;
  height: 52px;
  padding: 8px 50px;
  text-transform: uppercase;
  border: none;
  border-radius: 0 4px 4px 0;
  background: rgba(130, 179, 211, 1);
}


.inner-header-title {
  font-size: 32px;
  line-height: 35px;
  text-transform: uppercase;
}


.sorting-containers {
  display: flex;
  align-items: flex-start;
  min-width: 1060px;
  padding-top: 56px;
  padding-bottom: 35px;
}


.select-control {
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  position: relative;
  width: 292px;
  margin-top: -6px;
  margin-right: 50px;
  padding: 12px 18px;
  padding-right: 40px;
  cursor: pointer;
  color: inherit;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-color: transparent;
  background-image: url("../icons/drop-down-menu.svg");
  background-repeat: no-repeat;
  background-position: right 18px top 18px;
  appearance: none;
}

.select-control:focus-visible {
  border-color: #68a2ca;
  outline: none;
}

.select-control:active {
  background-color: #e5e5e5;
}

.select-control:hover {
  border: 2px solid #68a2ca;
}

/* Item */
.hotel-item {
  width: 340px;
  margin-right: 20px;
  border: 1px solid rgba(230, 230, 230, 1);
  background-color: #ffffff;
}

/* Link */
.hotel-link {
  text-decoration: none;
}

.hotel-catalog-prices {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
  margin-top: -7px;
  margin-bottom: 15px;
}

/* Price */
.hotel-type, .hotel-price {
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #333333;
}


.hotel-catalog-buttons {
  display: flex;
  justify-content: space-between;
}

.catalog-button {
  font-size: 16px;
  font-weight: 700;
  width: 140px;
  height: 31px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  border-radius: 4px;
}

.hotel-more-link {
  padding-top: 5px;
  background-color: #756157;
}

.hotel-more-link:active {
  background-color: #756157;
}

.hotel-more-link:hover {
  background-color: #615048;
}

.hotel-favorite-button {
  font-family: inherit;
  height: 36px;
  background-color: #82b3d3;
}

.hotel-favorite-button:active {
  background-color: #82b3d3;
}

.hotel-favorite-button:hover {
  background-color: #68a2ca;
}

.hotel-favorite-button-green {
  background: #7db54f;
}

.hotel-favorite-button-green:focus-visible {
  outline: none;
  background-color: #6c9e42;
}

.hotel-favorite-button-green:active {
  background-color: #7db54f;

}

.hotel-favorite-button-green:hover {
  background-color: #6c9e42;;
}

.hotel-ratings {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-top: 16px;
}

.hotel-stars-four {
  position: relative;
}

.hotel-stars-four::before {
  position: absolute;
  width: 140px;
  height: 37px;
  margin: 0;
  padding: 0;
  content: "";
  background: url("../icons/four-stars.svg");
  background-position: center;
}

.hotel-stars-three {
  position: relative;
}

.hotel-stars-three::before {
  position: absolute;
  width: 140px;
  height: 37px;
  margin: 0;
  padding: 0;
  content: "";
  background: url("../icons/three-stars.svg");
  background-position: center;
}

.hotel-stars-two {
  position: relative;
}

.hotel-stars-two::before {
  position: absolute;
  width: 140px;
  height: 37px;
  margin: 0;
  padding: 0;
  content: "";
  background: url("../icons/two-stars.svg");
  background-position: center;
}


.pagination {
  display: flex;
  flex-wrap: wrap;
  width: 1060px;
  margin-top: 79px;
  padding: 0;
  gap: 8px;
}

.pagination-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  display: block;
  min-width: 50px;
  padding: 12px 5px;
  text-align: center;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  background-color: #82b3d3;
}

.pagination-link:focus-visible {
  outline: 1px solid #82b3d3;
  outline-offset: -1px;
  background-color: #68a2ca;
}

.pagination-link:active {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-link:hover {
  opacity: 0.7;
}

.pagination-link-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-link-dark {
  color: rgba(0, 0, 0, 1);
  background-color: #ffffff;
}

.service-definition {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: #333333;
}


/*Поведение голубых кнопок*/
.button:focus-visible,
.hotel-favorite-button:focus-visible,
.submit-button:focus-visible,
.find-button:focus-visible {
  outline: none;
  background-color: #68a2ca;
}

.button-search {
  display: inline-block;
  width: 276px;
  padding: 8px 50px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #756157;
  gap: 10px;
}

.button-search:active {
  background-color: #756157;
}

.button-search:hover {
  background-color: #615048;
}

.newsletter {
  justify-content: center;
  min-height: 415px;
  text-align: center;
  color: #ffffff;
  background-color: rgba(131, 179, 211, 0.2);
  background-image: url("../images/subscribe-blur-photo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.newsletter-no-background {
  background: #ffffff;
}


.newsletter-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  flex-wrap: wrap;
  width: 475px;
  margin: 0 auto;
  margin-bottom: 17px;
  padding-top: 101px;
  text-transform: uppercase;
}

.newsletter-title-dark {
  color: #000000;
}

.newsletter-description-dark {
  color: #333333;
}

.newsletter-description {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  flex-wrap: wrap;
  width: 475px;
  margin: 0 auto;
  margin-bottom: 54px;
}

.newsletter-form {
  display: flex;
  justify-content: center;
  width: 684px;
  margin: 0 auto;
  padding-bottom: 54px;
  cursor: pointer;
}

.news-letter-form-input {
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  align-self: stretch;
  width: 100%;
  max-width: 412px;
  margin: 0 auto;
  padding: 12px 20px;
  text-align: left;
  color: #000000;
  border: none;
  border-radius: 4px 0 0 4px;
  background-color: #f2f2f2;
}

.news-letter-form-input:active {
  background-color: #f2f2f2;
}

.news-letter-form-input:hover {
  background-color: #e6e6e6;
}


.inner-header-title {
  font-size: 32px;
  line-height: 35px;
  text-transform: uppercase;
}


/* Link */
.breadcrumbs-link {
  vertical-align: middle;
  color: inherit;
}

.catalog-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 70px;
}


.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 16px;
  color: #ffffff;
}


.catalog-filter {
  display: flex;
  margin-top: 25px;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 1);
}

.price-group-inputs {
  display: flex;
  margin-bottom: 44px;
  gap: 2px;
}

.price-container {
  position: relative;
  width: 143px;
}

.input-field {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  border: 0;
  border-radius: 0 4px 4px 0;
  background-color: #f2f2f2;
}

.input-field:active {
  background-color: #f2f2f2;
}

.input-field:hover {
  background-color: #e6e6e6;
}

.price-input {
  font-family: inherit;
  font-weight: 700;
  box-sizing: border-box;
  width: 100%;
  padding: 12px 20px;
  padding-right: 45px;
  color: #000000;
}

.price-container:first-of-type .price-input {
  border-radius: 4px 0 0 4px;
}

.price {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  position: absolute;
  top: 12px;
  right: 0;
  margin: 0;
  margin-right: 20px;
  opacity: 0.3;
  color: #000000;
}

.price-group-scale {
  position: relative;
  height: 4px;
  margin-bottom: 8px;
  background-color: rgba(255, 255, 255, 0.3);
}

.price-range-bar {
  position: absolute;
  left: 10px;
  width: 206px;
  height: 4px;
  background-color: rgba(255, 255, 255, 1);
}

.price-range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 1);
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.facilities-group, .property-type-group {
  width: 150px;
}

.facilities, .property-type {
  position: relative;
  display: block;
  padding-left: 36px;
}

.facilities {
  margin-right: 70px;
}

.facilities:active {
  opacity: 1;
}

.facilities:hover {
  cursor: pointer;
  opacity: 0.3;
}

.property-type:active {
  opacity: 1;
}

.property-type:hover {
  cursor: pointer;
  opacity: 0.3;
}

.facilities-input {
  border-radius: 4px;
}

.facilities-mark {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #ffffff;
}

.facilities-input:checked + .facilities-mark {
  content: "";
  background-image: url("../icons/tick.svg");
  background-repeat: repeat;
  background-position: center;
}

.facilities-input, .property-type-group {
  width: 20px;
  min-height: 20px;
  margin: 0;
  margin-right: 16px;
  padding: 3px;
}

.filter-mark {
  position: absolute;
  top: 1px;
  left: 0;
  width: 20px;
  height: 20px;
  color: #ffffff;
}

.property-type-group {
  margin-right: auto;
  margin-left: 38px;
}

.property-type-mark {
  border-radius: 50%;
  background-color: #ffffff;
}

.property-type-input:checked + .property-type-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  content: "";
  border-radius: 50%;
  background-color: #3f5e72;
}

.catalog-search-description {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  max-width: 450px;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
}

.price-group {
  width: 288px;
  height: 160px;
  margin-right: 70px;
}

.buttons-wrap {
  width: 191px;
  min-height: 104px;
  padding: 55px 0 0;

}

.catalog-filter-button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  width: 191px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
}

.submit-button {
  margin-bottom: 36px;
  padding: 8px 50px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #82B3D3;
}

.submit-button:active {
  background-color: #82B3D3;

}

.submit-button:hover {
  background-color: #68a2ca;
}

.reset-button {
  cursor: pointer;
  border: 0;
  background: transparent;
}

.reset-button:active {
  opacity: 1;
}

.reset-button:hover {
  opacity: 0.3;
}

/* Label */
.control {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
  color: #ffffff;
}

.sorting-container {
  margin-top: 0;
  margin-left: auto;
  color: #333333;
  background-color: #ffffff;
}

/* Light */
.view-filter-list {
  display: flex;
  flex-wrap: wrap;
  width: 180px;
  margin: 0;
  padding: 0;
  color: #242424;
  background-color: #ffffff;
  gap: 10px;
}

.view-filter-link {
  display: block;
  width: 48px;
  height: 48px;
}

.view-filter-link::before {
  position: absolute;
  width: 48px;
  height: 48px;
  content: "";
}

.view-filter-link-tile {
  position: relative;
  padding-left: 16px;
}

.view-filter-link-tile::before {
  background-image: url("../icons/view-tile.svg");
  background-repeat: repeat;

}

.view-filter-link-slide-show {
  position: relative;
}

.view-filter-link-slide-show::before {
  background-image: url("../icons/view-slide-show.svg");
  background-repeat: repeat;
}

.view-filter-link-list {
  position: relative;
  padding-top: 0;
}

.view-filter-link-list::before {
  background-image: url("../icons/view-list.svg");
  background-repeat: repeat;
}

.catalog-wrapper {
  flex-wrap: wrap;
  margin-bottom: 55px;
  padding: 0 70px;
}


.hotel-list {
  position: relative;
  display: grid;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  grid-template-columns: repeat(3, 340px);
  gap: 16px;
}

.hotel-list::before {
  position: absolute;
  bottom: -40px;
  width: 1060px;
  height: 1px;
  content: "";
  background-color: #e6e6e6;
}


.hotel-item:nth-child(3n) {
  margin-right: 0;
  padding: 0 7px;
}

.hotel-item-content {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
}


/* Title */
.hotel-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin-top: 12px;
  color: #000000;
}

/* Price */
.hotel-type, .hotel-price {
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #333333;
}

.hotel-rating {
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  width: 140px;
  height: 19px;
  padding: 9px 0;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  border-radius: 4px;
  background-color: #f2f2f2;

}


.page-footer {
  padding: 40px 70px 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.footer-phone-link {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  max-width: 700px;
  padding: 5px;
}

.footer-phone-link:hover {
  color: #756157;
}

.footer-phone-link:active {
  opacity: 0.3;
}

.social-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 142px;
}

.social-link {
  min-width: 27px;
  min-height: 40px;
  display: block;
  padding: 0 10px;
  position: relative;
}

.social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #82b3d3;
}

.social-link:hover .social-icon {
  fill: #68a2ca;
}

.social-link:active .social-icon {
  fill-opacity: 0.3;
}

.footer-developer-logo {
  width: 115px;
  display: flex;
  justify-content: flex-end;
}

.footer-developer-logo-img {
  fill: #000000;
}

.footer-developer-logo:hover .footer-developer-logo-img {
  fill: #756157;
}

.footer-developer-logo:active .footer-developer-logo-img {
  fill-opacity: 0.3;
}
/*Modal*/
.modal-container-close {
  visibility: hidden;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  border-radius: 30px;
  background-color: #ffffff;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

.modal-title {
  font-family: inherit;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
}

.modal-search {
  width: 577px;
}

.modal-search .headline {
  margin-bottom: 64px;
}

.modal-close-button {
  position: absolute;
  top: 88px;
  right: 52px;
  width: 52px;
  height: 52px;
  padding: 0;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: #f2f2f2;
  background-image: url("../icons/close.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:active {
  opacity: 0.3;
}


.modal-date-search-group {
  display: grid;
  margin-bottom: 23px;
  grid-template-areas:
    "title input"
    ". legend";
  grid-template-columns: 1fr 440px;
  column-gap: 10px;
  row-gap: 4px;
}

.modal-search-input {
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  box-sizing: border-box;
  width: 100%;
  padding: 12px 60px 12px 20px;
  text-align: left;
  color: #000000;
  border-radius: 4px;

}

.modal-input-container {
  position: relative;
  grid-area: input;
}

.modal-input-container::before {
  position: absolute;
  top: 24px;
  right: 20px;
  width: 20px;
  height: 20px;
  content: "";
  transform: translateY(-50%);
  opacity: 0.3;
  background-image: url("../icons/date.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.modal-search-group-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  align-self: center;
  margin: 0;
  text-transform: capitalize;
  color: #000000;
  grid-area: title;
}

.legend-text {
  font-size: 16px;
  line-height: 21px;
  padding: 0 20px;
  grid-area: legend;
}

.error-message {
  color: #ff5757;
}

.people-amount-count {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 48px;
}

.people-amount-count-container {
  display: flex;
  align-items: center;
}

.adult-count {
  width: 247px;
  gap: 46px;
}

.child-count {
  justify-content: space-between;
  width: 242px;
}

.people-amount {
  display: grid;
  width: 110px;
  grid-template-columns: 1fr 1fr 1fr;
}

.people-amount-input {
  font-weight: 700;
  line-height: 20px;
  width: 11px;
  padding: 14px 10px;
  background-color: #f2f2f2;
}

.people-amount-button {
  width: 40px;
  padding: 14px 10px;
  cursor: pointer;
  border: none;
  background-color: #f2f2f2;
}

.people-amount-decrease {
  border-radius: 4px 0 0 4px;
}

.people-amount-increase {
  border-radius: 0 4px 4px 0;
}

.people-amount-button:hover {
  background-color: #e6e6e6;
}

.decrease-icon,
.increase-icon {
  vertical-align: middle;
  fill: #756157;
  fill-opacity: 0.3;
}

.people-amount-decrease:hover .decrease-icon,
.people-amount-increase:hover .increase-icon {
  fill: #000000;
  fill-opacity: 1;
}

.people-amount-button:active {
  opacity: 0.3;
}

.child-amount-title {
  margin-right: 10px;
}

.tooltip {
  position: absolute;
  width: 26px;
  height: 26px;
}

.form-label-icon {
  position: relative;
  padding-right: 10px;
}

.tooltip-toggle {
  display: block;
  width: 26px;
  height: 26px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: #83b3d3;
  background-image: url("../icons/info-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.tooltip-text {
  font-size: 16px;
  line-height: 20px;
  position: absolute;
  top: 40px;
  left: 50%;
  display: none;
  width: 216px;
  padding: 20px 18px 22px 22px;
  transform: translateX(-50%);
  color: #ffffff;
  border-radius: 10px;
  background-color: #333333;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
}

.tooltip-text::after {
  position: absolute;
  right: 0;
  bottom: 100%;
  left: 0;
  width: 19px;
  height: 9px;
  margin-right: auto;
  margin-left: auto;
  content: "";
  background-image: url("../icons/tooltip-arrow.svg");
}

.tooltip-toggle:hover {
  background-color: #68a2ca;
}


.find-button {
  font-family: inherit;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  width: 577px;
  margin: 0;
  padding: 18px;
  text-transform: uppercase;
  border: none;
  border-radius: 10px;
  background-color: #82b3d3;
}

.find-button:hover {
  background-color: #68a2ca;
}

.filter-button:active {
  opacity: 0.3;
}
