@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}



body {
  padding: 0 0;
  margin: 0 0;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #242424;
  background-color: #ffffff;
}
.visibility-hidden {
  visibility: hidden;
}
.button{
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
}
.catalog-button{
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}
.button-apply{
  background: #82b3d3;
}
.button-reset{
  border: none;
  outline: none;
  background-color: transparent;
}
.page-header {
  color: #000000;
  background-color: #ffffff;
}
.navigation{
  display: flex;
}
.navigation-list{
  display: flex;
  list-style-type:none;
}
.navigation-link {
  margin-right: 5px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  color: inherit;
  text-decoration: none;
}
.navigation-user-button{
  background: #756157;
  color: #ffffff;
}

.main-index {
  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.main-inner{
  background-image: url("../images/catalog-blur-photo.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.index-image{
  text-align: center;
}
.advantages-item{
  background-color: #ffffff;
}
/* List */
.advantages-list {
  text-align: center;
}

/* Title */
.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}
.advantages-description{
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: #000000;
}
.services-title{
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #000000;
}
.services-description{
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #333333;
}
.service-list{
  display: flex;
  background: #83b3d31f;
}
.service-title{
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  color: #000000;

}
.service-definition{
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: #333333;
}
.hotel-search{
  background: #ffffff;
  text-align: center;
}
.intresting-sedona{
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.hotel-search-description{
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.button-search{
  width: 76px;
  height: 52px;
  padding: 8px 50px;
  border-radius: 4px;
  gap: 10px;
  text-decoration: none;
  background: #756157;
}

.newsletter{
  height: 414.86px;
  padding: 96px  258px 104px 258px;
  gap: 10px;
  background-image: url("../images/subscribe-blur-photo.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  color: #ffffff;
}

.newsletter-no-background{
  background: #ffffff;
}
.newsletter-title{
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}
.newsletter-title-dark{
  color: #000000;
}
.newsletter-description-dark{
  color: #333333;
}
.newsletter-description{
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}
.newsletter-form{
  display: flex;
}
.element{
  width: 452px;
  padding: 12px 20px;
  border-radius: 4px 0 0 4px;
  gap: 260px;
  background: #f2f2f2;
  color: #000000;
}
.newsletter-form button{
  width: 232px;
  height: 52px;
  padding: 8px 50px 8px 50px;
  gap: 10px;
  border-radius: 0 4px 4px 0;
  background: #82b3d3;
}
.page-footer{
  display: flex;
  background: #ffffff;
}
.footer-social{
  display: flex;
}
.footer-contacts{
  display: flex;
}
.contacts-phone{
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  color: #000000;
  color: inherit;
  text-decoration: none;
}
.inner-header-title {
  font-size: 32px;
  line-height: 35px;
  text-transform: uppercase;
}
/* Breadcrumbs */
.breadcrumbs {
  color: #ffffff;
}

/* Link */
.breadcrumbs-link {
  color: inherit;
}
/* Title */
.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;

}

/* Label */
.control {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
  color: #ffffff;
}
.sorting-container {
  color: #333333;
  background-color: #ffffff;
}
/* Light */
.view-filter-list {
  color: #242424;
  background-color: #ffffff;
}
/* Item */
.hotel-item {
  background-color: #ffffff;
}

/* Link */
.hotel-link {
  text-decoration: none;
}

/* Title */
.hotel-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}

/* Price */
.hotel-type, .hotel-price {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #333333;
}
.hotel-more-link{
  background: #756157;
}
.hotel-favorite-button{
  background: #82b3d3;
}
.hotel-rating{
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #333333;
  background: #ffffff;
}
